body {
  background: #fff;
  margin: 0;
  height: 100vh;
}

.red-square {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}

.green-square {
  width: 100px;
  height: 100px;
  background: green;
  position: absolute;
  top: 0;
  right: 0;
}
